* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--first-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --btn-text-color: #fff;
  --background-color: #f5f5f5;
  --icon-color: grey;
  --shadow-color: #c7c7c7;
  --h1-font-size: 30px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --text-size: 16px;
  --first-font: "Roboto", sans-serif;
  --second-font: "Shrikhand", cursive;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 20px;
}
.logo__img {
  width: 200px;
}

.nav__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px var(--shadow);
  background-color: #e6e9eb;
  padding: 10px 0;
}
.nav .fa-location-dot {
  margin-right: 15px;
}

.explore__wrap {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.explore__heading {
  font-size: var(--h1-font-size);
  margin-bottom: 30px;
}

.explore__text {
  margin-bottom: 30px;
  font-size: var(--h3-font-size);
  color: var(--icon-color);
}

.explore__btn {
  font-size: var(--text-size);
  cursor: pointer;
  border: transparent;
  border-radius: 150px;
  color: var(--btn-text-color);
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 15px 25px;
  margin-bottom: 25px;
}

.instructions {
  padding: 20px 20px;
  margin-bottom: 30px;
}

.instructions__number {
  position: absolute;
  left: 0;
  top: 50%;
  color: var(--btn-text-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

.instructions__heading {
  font-size: var(--h2-font-size);
  margin-bottom: 25px;
}

.instructions__item {
  display: flex;
  position: relative;
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  border-radius: 15px;
  background-color: var(--background-color);
  width: 100%;
  padding: 20px 25px;
}
.instructions__item:not(:last-child) {
  margin-bottom: 15px;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
  color: var(--icon-color);
  margin-right: 15px;
}

.restaurants {
  padding: 50px 20px;
  background-color: var(--background-color);
}

.restaurants__heading {
  font-size: var(--h2-font-size);
  margin-bottom: 25px;
}

.restaurants__card {
  position: relative;
  border-radius: 25px;
  background-color: var(--btn-text-color);
  box-shadow: 0px 2px 6px 0px var(--shadow-color);
  max-height: 300px;
  overflow: hidden;
}
.restaurants__card:not(:last-child) {
  margin-bottom: 20px;
}

.restaurants__img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.fa-heart:hover {
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.restaurants__head {
  margin-bottom: 7px;
}

.restaurants__new {
  position: absolute;
  right: 15px;
  top: 15px;
  display: inline-block;
  font-weight: 500;
  background-color: var(--tertiary-color);
  color: green;
  border-radius: 2px;
  padding: 8px 25px;
}

.menu {
  margin-top: -40px;
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 25px 15px;
}

.menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu__heading {
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
}

.entrees__text--wrap,
.dish__text--wrap,
.desserts__text--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

.price {
  font-weight: 500;
  margin-left: 10px;
}

.footer {
  padding: 30px 20px;
  background-color: rgb(43, 43, 43);
}

.footer__logo {
  width: 95px;
  margin-bottom: 15px;
}

.footer__logo--img {
  fill: var(--btn-text-color);
  width: 95px;
  height: 17px;
}

.fa-utensils,
.fa-handshake-angle {
  margin-right: 5px;
}

.footer__list {
  color: var(--btn-text-color);
  font-size: 14px;
}

.footer__item:not(:last-child) {
  margin-bottom: 5px;
}

.entrees__one {
  -webkit-animation: card-load 150ms ease-in 300ms;
          animation: card-load 150ms ease-in 300ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.entrees__two {
  -webkit-animation: card-load 150ms ease-in 500ms;
          animation: card-load 150ms ease-in 500ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.entrees__three {
  -webkit-animation: card-load 150ms ease-in 700ms;
          animation: card-load 150ms ease-in 700ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.entrees__four {
  -webkit-animation: card-load 150ms ease-in 900ms;
          animation: card-load 150ms ease-in 900ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.dish__one {
  -webkit-animation: card-load 150ms ease-in 300ms;
          animation: card-load 150ms ease-in 300ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.dish__two {
  -webkit-animation: card-load 150ms ease-in 500ms;
          animation: card-load 150ms ease-in 500ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.dish__three {
  -webkit-animation: card-load 150ms ease-in 700ms;
          animation: card-load 150ms ease-in 700ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.desserts__one {
  -webkit-animation: card-load 150ms ease-in 300ms;
          animation: card-load 150ms ease-in 300ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.desserts__two {
  -webkit-animation: card-load 150ms ease-in 500ms;
          animation: card-load 150ms ease-in 500ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.desserts__three {
  -webkit-animation: card-load 150ms ease-in 700ms;
          animation: card-load 150ms ease-in 700ms;
  transform: translateY(-20px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes card-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes card-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 481px) {
  .container {
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1900px;
  }
  .instructions__item {
    align-items: center;
  }
  .instructions__heading {
    text-align: center;
  }
  .instructions__list {
    display: flex;
  }
  .instructions__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .restaurants__heading {
    text-align: center;
  }
  .restaurants__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurants__card {
    width: 100%;
    flex-basis: calc((100% - 60px) / 2);
    margin-bottom: 20px;
  }
  .menu__heading {
    margin: 0 auto;
  }
  .menu__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .entrees,
.dish {
    margin-right: 25px;
  }
  .entrees__wrap,
.dish__wrap,
.desserts__wrap {
    width: 300px;
  }
  .entrees__text,
.dish__text,
.desserts__text {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
  }
  .footer__logo {
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .footer__list {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1190px) {
  .restaurants__card {
    flex-basis: calc((100% - 60px) / 4);
  }
}
.logo__second {
  position: relative;
}

.header__nav {
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  margin-left: 15px;
}

.background {
  width: 100%;
  max-height: 320px;
  overflow: hidden;
}

.entrees,
.dish {
  margin-bottom: 25px;
}

.entrees__head,
.dish__head,
.desserts__head {
  margin-bottom: 15px;
}

.entrees__heading,
.dish__heading,
.desserts__heading {
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entrees__header {
  font-size: var(--text-size);
  font-weight: 200;
}
.entrees__header::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid var(--tertiary-color);
  padding-top: 5px;
}

.entrees__wrap {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--btn-text-color);
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  padding: 12px;
}
.entrees__wrap:not(:last-child) {
  margin-bottom: 10px;
}
.entrees__wrap:hover {
  padding-right: 60px;
}
.entrees__wrap:hover .entrees__overlay {
  opacity: 1;
  transform: translate(-50px);
}

.entrees__overlay {
  position: absolute;
  right: -50px;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 50px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--tertiary-color);
}

.entrees__text,
.dish__text,
.desserts__text {
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dish__header {
  font-size: var(--text-size);
  font-weight: 200;
}
.dish__header::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid var(--tertiary-color);
  padding-top: 5px;
}

.dish__wrap {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--btn-text-color);
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  padding: 12px;
}
.dish__wrap:not(:last-child) {
  margin-bottom: 10px;
}
.dish__wrap:hover {
  padding-right: 60px;
}
.dish__wrap:hover .dish__overlay {
  opacity: 1;
  transform: translate(-50px);
}

.dish__overlay {
  position: absolute;
  right: -50px;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 50px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--tertiary-color);
}

.desserts {
  margin-bottom: 40px;
}

.desserts__header {
  font-size: var(--text-size);
  font-weight: 200;
}
.desserts__header::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid var(--tertiary-color);
  padding-top: 5px;
}

.desserts__wrap {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--btn-text-color);
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  padding: 12px;
}
.desserts__wrap:not(:last-child) {
  margin-bottom: 10px;
}
.desserts__wrap:hover {
  padding-right: 60px;
}
.desserts__wrap:hover .desserts__overlay {
  opacity: 1;
  transform: translate(-50px);
}

.desserts__overlay {
  position: absolute;
  right: -50px;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 50px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--tertiary-color);
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.order__btn {
  font-size: var(--text-size);
  cursor: pointer;
  border: transparent;
  border-radius: 150px;
  color: var(--btn-text-color);
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 15px 25px;
  padding: 15px 70px;
}

.fa-circle-check {
  color: var(--btn-text-color);
  padding: 37px 15px;
  transition: transform 400ms ease-in-out;
}

.entrees__wrap:hover .fa-circle-check,
.dish__wrap:hover .fa-circle-check,
.desserts__wrap:hover .fa-circle-check {
  transform: rotate(360deg);
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--btn-text-color);
  z-index: 1001;
  -webkit-animation: loaderHidden 1.5s forwards;
          animation: loaderHidden 1.5s forwards;
}

@-webkit-keyframes loaderHidden {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes loaderHidden {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.loader {
  overflow: hidden;
  font-size: 10px;
  margin: 300px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: var(--btn-text-color);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */