@import '../utils/mixins';

.menu__one {
  @include cardLoad(card-load 250ms ease-in 300ms);
}
.menu__two {
  @include cardLoad(card-load 250ms ease-in 500ms);
}
.menu__three {
  @include cardLoad(card-load 250ms ease-in 700ms);
}
.menu__four {
  @include cardLoad(card-load 250ms ease-in 900ms);
}

@keyframes card-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
