@import '../utils/mixins';

.dish__header {
  @include menuHead;
}

.dish__wrap {
  @include menuCard;

  &:hover {
    padding-right: 60px;
  }

  &:hover .dish__overlay {
    opacity: 1;
    transform: translate(-50px);
  }
}

.dish__overlay {
  @include overlay;
}
