@import '../utils/mixins';

.entrees,
.dish {
  margin-bottom: 25px;
}

.entrees__head,
.dish__head,
.desserts__head {
  margin-bottom: 15px;
}

.entrees__heading,
.dish__heading,
.desserts__heading {
  margin-bottom: 5px;
}

.entrees__header {
  @include menuHead;
}

.entrees__wrap {
  @include menuCard;

  &:hover .entrees__overlay {
    transform: translateX(0%);
  }

  &:hover .fa-circle-check::before {
    transition: transform 500ms ease;
  }
}

.entrees__overlay {
  @include overlay;
}

.entrees__wrap:hover .price {
  margin-right: 55px;
}

.fa-circle-check {
  color: var(--btn-text-color);

  padding: 35px 20px;
}

.fa-circle-check::before {
  transform: rotate(360deg);
}

.entrees__text,
.dish__text,
.desserts__text {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
