@import '../utils/mixins';

.entrees,
.dish {
  margin-bottom: 25px;
}

.entrees__head,
.dish__head,
.desserts__head {
  margin-bottom: 15px;
}

.entrees__heading,
.dish__heading,
.desserts__heading {
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entrees__header {
  @include menuHead;
}

.entrees__wrap {
  @include menuCard;

  &:hover {
    padding-right: 60px;
  }

  &:hover .entrees__overlay {
    transform: translate(-50px);
  }
}

.entrees__overlay {
  @include overlay;
}

.entrees__text,
.dish__text,
.desserts__text {
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
