@import '../utils/mixins';

.instructions {
  padding: 20px 20px;
  margin-bottom: 30px;
}

.instructions__number {
  position: absolute;
  left: 0;
  top: 50%;

  color: var(--btn-text-color);
  background-color: var(--primary-color);

  border-radius: 50%;
  transform: translate(-50%, -50%);

  padding: 5px 10px;
}

.instructions__heading {
  font-size: var(--h2-font-size);
  margin-bottom: 25px;
}

.instructions__item {
  display: flex;
  position: relative;

  -webkit-box-shadow: 0px 3px 7px 0px var(--shadow-color);
  box-shadow: 0px 3px 7px 0px var(--shadow-color);
  border-radius: 15px;
  background-color: var(--background-color);

  width: 100%;

  padding: 20px 25px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
  color: var(--icon-color);
  margin-right: 15px;
}
