.fa-circle-check {
  color: var(--btn-text-color);

  padding: 37px 15px;

  transition: transform 500ms ease-in-out;
}

.menu__box {
  &:hover .fa-circle-check {
    transform: rotate(360deg);
  }
}
