@import '../utils/mixins';

.order {
  @include flexCenter;
  margin-bottom: 30px;
}

.order__btn {
  @include btn;
  padding: 15px 70px;

  &:hover {
    box-shadow: 0px 5px 9px 2px var(--shadow-color);
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.75) 0%,
      rgba(255, 121, 218, 0.75) 100%
    );
  }
}
