.preloader {
  position: fixed;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: var(--btn-text-color);

  z-index: 1001;

  animation: loaderHidden 1.5s forwards;
}

@keyframes loaderHidden {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

.loader {
  overflow: hidden;
  font-size: 10px;
  margin: 300px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;

  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  position: relative;

  animation: load 1.4s infinite linear;
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;

  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: var(--btn-text-color);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
